nav{display: flex;
    justify-content: space-between;
     align-items: center;
     margin: 0px 180px;}

.nav-title{color: dark light;
    font-weight: bold;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
      }

nav ul{display: flex;
       align-items: center;}

nav li{
       list-style: none;
       margin-right: 50px; }

.btn-primary{
    border-radius: 10px;
    font-size: 25px;
 /*  color: rgb(34, 32, 32); */
    font-weight: 500;
    padding: 10px 25px;}



   

.banner-contact{
       text-align: center;
        background-image: url('images/Hero-bg.png');
        background-repeat: no-repeat;
        padding-bottom: 120px;
        padding-top: 30px;
       
        
        }



.contact-h2{
        font-size: 48px;
        /* font-family: extra-bold; */
         /* width: 100%; */
          font-weight:extra-bold; 
         /* position: relative; */
         letter-spacing: 5px;
         color:#0D1321;
         
          }

.contact-p{font-size: 20px;
              color: #524f4f; 
             /* color:#0D1321; */
             /* font-family: bold; */
             margin-bottom: 2%; 
              
          } 

.contact-btn{
              border-radius: 5px;
              background-color: #031222;
              color: white;
              padding: 15px 30px;
              font-size: 25px;
             
             }



.development-section{
   padding-bottom:20px;
   margin-left: 130px; 
   margin-right: 130px;
    width: 80%;  
    border-radius: 10px;
    padding: 20px 20px; 
    
                }


.div-section{
 text-align: center;
    }

.div-1{font-size: 40px;
      font-family:'Azeret Mono';
      color:#181818;}

  

.div-2{font-size: 20px;
       color:#757272;}                
 

.code-section{display: flex;
             gap:40px;
             width: 100%;
             margin: 100px 50px;
              
              }

.new-section{margin-left: 100px;}

.div-coding{
       font-size: 30px;
       
       color: #524f4f;

        /* font:monospace; */
      /*  font-weight: bold */;
       
       

       }
       .div-p{font-size:20px;
              color:#3a3939;
             font-family: ;}

       .btn-secondary{padding: 10px 25px;
                     border: 1px solid #524f4f;
                     font-size: 20px;
                      color: #3a3939;
                      font-family:arial;}

       .img-i{margin-left: 100px;}


.help-section{
       display: flex; 
       gap:40px;
       width: 100%;
       margin: 50px 140px;}

.div-new{}

.div-help {font-size: 32px;
           color: #524f4f;}  

.div-c{font-size: 20px;
       color: #3a3939;}

.div-btn{padding: 10px 25px;
       border: 2px solid #524f4f;
       font-size: 20px;
        color: #3a3939;
        font-family:arial;}

.div-insprition{
              text-align:center;
                width: 100%;
               margin: 60px 50px;}

.div-my{font-size: 40px;
        /* font-family: bold; */
        font-family:'Azeret Mono';
        color:#110d0d;
         }

.div-h{font-size: 20px;
       color: #3a3939;
       margin-bottom: 50px;
       }
.newtube{width: 1180px;}


.targets{width: 100%; 
       margin:120px 50px 100px 50px ;}
.target-h2{  
       font-size:35px;
       font-weight: bold;
       color:#181818;}

.target-p{font-size:18px;
    color:#757575;}

.new-center{text-align: center;}

.target-container{
               display: flex;
                gap:40px;
               margin-left: 100px;
               align-items: center;
               margin-top: 120px;}

 .target-1{
       background-color:bisque;
       padding: 30px;
       border-radius: 5px;
       box-shadow: 0px 10px 50px 0px;}               
                
.target-2{ 
       background-color: rgb(221, 218, 214);
       padding: 30px;
        border-radius: 5px;
       box-shadow: 0px 10px 50px 0px;}  

.target-3{padding: 30px;
        border-radius: 5px;
         box-shadow: 0px 10px 40px 0px;}  

.target-description{font-size: 20px;
       color:#757575;}
.target-title{font-size: 25px;
              font-weight: bold;}

.target-h5{font-size: 20px;
            border-bottom: 1px solid black;
             width: 43%;}


.support-section{background-image:url('images/handshake.jpg');
        text-align: center; 
       width: 80%;
       padding: 60px 0;
       margin: 60px auto;
       background-position: center;
       background-size: cover;
       border-radius: 10px;}

.support{text-align: center;}

.support-h2{color:#f5ecec;
            font-size: 40px;}

.support-p{color: #aaa6a6;
           font-size: 20px;}
.new-placeholder{padding: 10px 80px;
                 font-size: 20px;
                text-align: left;}

.button_1{padding: 10px 13px;
       border-radius:;
        margin-left: 5px;
        font-size: 15px;
       }
       footer{display: flex;
             justify-content: space-around;
               background-color: pink;
              align-items: center;}